<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="UpLoadArgs" value="~/app_data/config/"/>
    <add key="PicRootPath" value="http://2sc0.autoimg.cn/"/>
    <add key="UploadPicOldPath" value="\\127.0.0.1\d$\img.autohome.com.cn\2sc\"/>
    <add key="UploadPicCurPath" value="\\127.0.0.1\d$\img.autohome.com.cn\2scimg"/>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
	<system.web>
    <identity userName="administrator" password="wangping1212" impersonate="true" />
    <globalization requestEncoding="GB2312" responseEncoding="GB2312"/>
		<compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="10240"  enableVersionHeader="false" requestValidationMode="2.0" requestPathInvalidCharacters="" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
